config daemon
# Change this to 1 to enable the docker daemon
  option enable 0
# This must be hosted on a 'real' disk
# By default dockerd uses /var/lib/docker,
# and /var is /tmp(fs) on OpenWrt, so it needs to be housed
# somewhere else
# (I suggest using a different partition)
  option datadir '/opt/docker'
# The bridge interface for the 'default' network in
# docker.
  option bridge 'br-container'
